################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Payroll/.vs
/Payroll/bin/Debug
/Payroll/obj/Debug/TempPE/Test.Resources.Designer.cs.dll
/Payroll/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Payroll/packages/BouncyCastle.Cryptography.2.3.1/lib/net461
/Payroll/packages/BouncyCastle.Cryptography.2.3.1/lib/netstandard2.0
/Payroll/packages/BouncyCastle.Cryptography.2.3.1/lib/net6.0
/Payroll/packages/BouncyCastle.Cryptography.2.3.1
/Payroll/packages/Dapper.2.1.35/lib
/Payroll/packages/Dapper.2.1.35
/Payroll/packages/Google.Protobuf.3.26.1
/Payroll/packages/K4os.Compression.LZ4.1.3.8/lib
/Payroll/packages
/Payroll/obj/Debug/Payroll.csproj.FileListAbsolute.txt
/Payroll/obj/Debug
/Payroll/obj/Debug/TempPE/Test.Resources.Designer.cs.dll
/Payroll/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Payroll/obj/Debug/Payroll.csproj.AssemblyReference.cache
/Payroll/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Payroll/obj/Debug/TempPE/Test.Resources.Designer.cs.dll
/Payroll/obj/Debug/TempPE/Test.Resources.Designer.cs.dll
/Payroll/obj/Debug/Payroll.csproj.AssemblyReference.cache
/Payroll/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Payroll/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Payroll/obj/Debug/TempPE/Test.Resources.Designer.cs.dll
